@import "./custom-bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  outline: 1px solid green;
  /* transition: 0.3s ease-in-out; */
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: black;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.nav-item a {
  cursor: pointer !important;
}

.nav-link:hover {
  color: green !important;
}

.form-control {
  height: 44px;
  font-size: 13px !important;
  border-radius: 0.55rem !important;
}

.footer-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px !important;
  z-index: 999999 !important;
}

.footer-button:hover {
  background-color: #56cfe1 !important;
  border-color: #56cfe1 !important;
}

.overlay-div {
  position: absolute;
  opacity: 0;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s ease-in-out;
}
header {
  z-index: 200000;
}

.indv-card-p:hover .overlay-div {
  opacity: 0.1;
}

.indv-card-p img {
  transition: 1.5s ease-in-out !important;
}

.indv-card-p:hover img {
  scale: 1.1;
}

.indv-card-p .p-button {
  opacity: 0;
  transition: 0.5s ease-in-out !important;
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 1000;
}

.p-section {
  z-index: 2;
}
.p-section i {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 10px;
}
.fs-p-custom-h-mobile {
  font-size: 12px;
}
.fs-footer {
  font-size: 12px;
}
.fs-footer-heading {
  font-size: 13px;
}
.indv-card-p:hover .p-button {
  visibility: visible;
  opacity: 1;
}

.carousel-button-previ {
  display: flex;
  justify-content: start !important;
  transition: 0.3s ease-in-out;
  opacity: 0%;
  left: 30px;
}
.carousel-button-previ:hover {
  left: 20px;
}

.carousel-button-nexti {
  display: flex;
  justify-content: end !important;
  transition: 0.3s ease-in-out;
  right: 30px;
  opacity: 0%;
}

.carousel-button-nexti:hover {
  right: 20px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.fs-custom {
  font-size: 14px;
  font-weight: 500;
}

.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: none;
  margin-left: 5px !important;
}

.carousel-indicators {
  margin-bottom: 0px;
}

.small_section {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.small_section button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
}

.s_s_1 {
  top: 40%;
  right: 10%;
}

.s_s_2 {
  top: 40%;
  left: 15%;
}

.s_s_3 {
  top: 40%;
  left: 15%;
}

.s_m_1 {
  width: 100vw;
  left: 50%;
  transform: translate(-50%, -35%);
  bottom: 0%;
}

.fs-p-custom-h {
  font-size: 14px;
}

.fs-p-custom-para {
  font-size: 13px;
}

.custom-card-wrapper {
  scrollbar-width: none;
  overflow-x: scroll;
  white-space: nowrap;
}

.itemcard {
  height: 220px;
  width: 170px;
}

.itemcard span {
  font-size: 14px !important;
}

.itemcard img {
  object-fit: contain;
}

.carousel-indicators .active {
  background-color: white !important;
}

.object-fit {
  object-fit: cover;
}

.bg-footer {
  background-color: #f6f6f8 !important;
}

.shop-cat::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: rgb(183, 179, 179);
}

@media screen and (max-width: 576px) {
  .navbar-brand img {
    height: 24px !important;
    width: 160px !important;
  }

  .icons-stock img {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .itemcard img {
    height: 90px;
    width: 90px;
  }

  .itemcard span {
    font-size: 10px !important;
    word-break: break-all !important;
  }

  .itemcard {
    max-width: 90px;
    max-height: 150px;
  }
}

@media screen and (max-width: 992px) {
  .form-control {
    border-radius: 0.4rem !important;
    border-color: gray;
  }
  .heading-text {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 992px) {
  .border-lg-bottom {
    border-bottom: 1px solid #d3d3d3 !important;
  }
}

@media screen and (max-width: 400px) {
  .fs-mobile-whats {
    font-size: 1.5rem;
  }
}
